<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Certificate</title>

    <link
        rel='shortcut icon'
        href="{{ url_for('static', filename='favicons/dark-favicon.png') }}"
        media="(prefers-color-scheme: light)"
    />
    <link
        rel='shortcut icon'
        href="{{ url_for('static', filename='favicons/light-favicon.png') }}"
        media="(prefers-color-scheme: dark)"
    />

    <!-- load CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/certificate.css') }}">
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
    <header></header>
    <div class="main">
        <div class="main-title main-item main-text">
            Certificate
        </div>
        <img class="cert-img  main-item" src="{{ image_url }}" alt="" srcset="">
        <div class="download-container  main-item">
            <a href="{{ image_url }}"><button class="download-button">Download</button></a>
        </div>
    </div>
</body>
</html>
