<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>
<body>
    <div class="container">
        <nav class="side-nav">
            <div class="logo">soft work</div>
            <a href="{{ url_for('landing_views.landing_page') }}">Home</a>
            <a href="blog.html">Blog</a>
        </nav>

        <main class="main">
            <header class="banner">
                <h1>welcome {{ first_name }} !!</h1>
                <img src="{{ url_for('static', filename='img/IMG-20221212-WA0015.jpg') }}" alt="">
            </header>

            <section class="user-data">
                <div>{{ first_name}} {% if middle_name %} {{ middle_name }} {% endif %} {{ last_name }}</div>
                <div>@{{ username }}</div>
            </section>

            <section class="assessment-container">
            {%  for assessment in assessments | sort(attribute='name') %}
                <div class="assessment">
                    {% set assessment_name = assessment.name %}
                    <h2>{{ assessment_name |  replace('_', ' ') | upper }}</h2>
                    <ul class="info">
                        <li><a href="{{ url_for('assessment_views.assessment_page', assessment_name=assessment.name) }}" class="start-test-btn">Start Assessment</a></li>
                        <li>Status:
                            {% if status | attr(assessment.name) %}
                                completed
                            {% else %}
                                incomplete
                            {% endif %}
                        </li>
                        <li><a href="{{ url_for('certificate_views.load_cert', accessment_id=assessment.id) }}">View Certificate</a></li>
                    </ul>
                </div>
            {% endfor %}
            </section>
        </main>

        <footer class="footer">
            <a href="index.html">Home</a>
            <a href="blog.html">Blog</a>
        </footer>
    </div>
</body>
</html>
