<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_pic.css') }}"> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>
<body>
    <div class="container">
        <nav class="side-nav">
            <div class="logo">soft work</div>
            <a href="{{ url_for('landing_views.landing_page') }}">Home</a>
            <a href="blog.html">Blog</a>
            <a href="{{ url_for('authenticate_views.logout') }}">Log out</a>
        </nav>

        <main class="main">
            <header class="banner">
                <h1>welcome {{ first_name }} !!</h1>
                <img id="profile_pic" src="{{ profile_pic }}" alt="">
                <div>
                    <input type="file" id="fileUpload">
                 </div>
                 <div>
                    <button onclick="uploadFile()">Submit</button>
                 </div>
                <!-- <div class="row">
                    <div class="small-12 medium-2 large-2 columns">
                      <div class="circle">
                        <img class="profile-pic" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
                      </div>
                      <div class="p-image">
                        <i class="fa fa-camera upload-button"></i>
                         <input class="file-upload" type="file" accept="image/*"/>
                      </div>
                   </div>
                 </div> -->
            </header>

            <section class="user-data">
                <div>{{ first_name}} {% if middle_name %} {{ middle_name }} {% endif %} {{ last_name }}</div>
                <div>@{{ username }}</div>
            </section>

            <section class="assessment-container">
            {%  for assessment in assessments | sort(attribute='name') %}
                <div class="assessment">
                    {% set assessment_name = assessment.name %}
                    <h2>{{ assessment_name |  replace('_', ' ') | upper }}</h2>
                    <ul class="info">
                        <li>
                            <a href="{{ url_for('assessment_views.assessment_page', assessment_name=assessment.name) }}" class="start-test-btn" target="_blank">
                                Start Assessment
                            </a>
                        </li>
                        <li class="status">Status:
                            {% if status | attr(assessment.name) %}
                                Completed
                            {% else %}
                                Incomplete
                            {% endif %}
                        </li>
                        <li><a href="{{ url_for('certificate_views.load_cert', accessment_id=assessment.id) }}" class="certificate_link" data-score="{{ score | attr(assessment.name) }}">View Certificate</a></li>
                        <li>Score:
                            {% if score | attr(assessment.name) or (score | attr(assessment.name)) == 0 %}
                                <span>{{ score | attr(assessment.name) }}</span>%
                            {% else %}
                                Unavailable
                            {% endif %}
                        </li>
                    </ul>
                </div>
            {% endfor %}
            </section>
        </main>

        <footer class="footer">
            <a href="index.html">Home</a>
            <a href="blog.html">Blog</a>
        </footer>

        <input id="user_id" type="hidden" name="user_id" value="{{ user_id }}">
        <input id="username" type="hidden" name="username" value="{{ username }}">
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('profile_views.static', filename='script/profile.js') }}" defer></script>
    <script src="{{ url_for('profile_views.static', filename='script/change_profile_pic.js') }}" defer></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.24.min.js"></script>
</body>
</html>
