#about-section {
    background-size: cover;
    min-height: 90vh;
    display: grid;
    align-items: center;
    align-content: center;
    font-family: var(--primaryFont);
    list-style-position: inside;
    padding: 0 .5rem 5rem .5rem;
}

#about-section > article {
    display: grid;
    grid-template-columns: clamp(20rem, 45vmax + .8rem, 33rem) clamp(15rem, 30vmax + .8rem, 30rem);
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

#about-section > article > .content {
    display: grid;
    row-gap: .5rem;
}

#about-section img {
    justify-self: center;
    height: 25rem;
    border-radius: 50%;
}

#about-section li {
    font-weight: bold;
}




/* media queries */
@media screen and (max-width: 633px) {
    #about-section > article {
        grid-template-columns: 90%;
    }

    #about-section img {
        grid-row: 1 / 2;
    }
}


