#about-section {
    background-size: cover;
    min-height: 90vh;
    display: grid;
    align-items: center;
    align-content: center;
    font-family: 'Hind', sans-serif;
    list-style-position: inside;
}

#about-section > article {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rebeccapurple; */
}

#about-section > article > .content {
    width: 40%;
}

#about-section img {
    width: 20rem;
    height: 25rem;
    border-radius: 50%;
}

#about-section li {
    font-weight: bold;
}
