.about-section {
    background: url('../backgrounds/wave-haikei (7).svg') no-repeat;
    background-size: cover;
    min-height: 90vh;
    display: grid;
    text-align: center;
}

.about-section > article {
    display: flex;
    align-items: center;
}
