@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

:root {
    /* fonts */
    --primaryFont: 'Hind', sans-serif;

    /* colors */
    --darkBlue: #152A5F;
    --primaryGreen: #337F61;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--primaryFont);
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    background-color: transparent;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: ghostwhite;
}

.wrapper {
    /* background-color: #152A5F; */
    margin-top: 2rem;
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    row-gap: 1rem;
}

form {
    background-color: white;
    position: relative;
    display: grid;
    justify-content: center;
    row-gap: 1rem;
    width: 22rem;
    /* min-height: rem; */
    padding: 1rem 0 1rem 0;
    border-radius: .8rem;
    -webkit-box-shadow: 1px 0px 4px 1px rgba(211, 211, 211, 1);
    -moz-box-shadow: 1px 0px 4px 1px rgba(211, 211, 211, 1);
    box-shadow: 1px 0px 4px 1px rgba(211, 211, 211, 1);
}

.form-logo {
    cursor: pointer;
    justify-self: center;
    width: 4rem;
    height: 4rem;
    background: url('../logos/logo_large.png') no-repeat;
    background-size: contain;
}


/* input field style */
.wave-group {
    position: relative;
}

.wave-group .input {
    font-size: 16px;
    padding: 9px 10px 3px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
    background: transparent;
}

.wave-group .input:focus {
    outline: none;
}

.wave-group .label {
    color: #999;
    font-size: 14px;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
}

.wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus~label .label-char,
.wave-group .input:valid~label .label-char {
    transform: translateY(-20px);
    font-size: 11.8px;
    color: #5264AE;
}

.wave-group .bar {
    position: relative;
    display: block;
    width: 100%;
}

.wave-group .bar:before,
.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
    left: 50%;
}

.wave-group .bar:after {
    right: 50%;
}

.wave-group .input:focus~.bar:before,
.wave-group .input:focus~.bar:after {
    width: 50%;
}


/* submit button */
button {
    font-family: inherit;
    font-size: .8rem;
    background: var(--darkBlue);
    color: white;
    padding: .5rem 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: .3rem;
    overflow: hidden;
    transition: all 0.2s;
    width: max-content;
    justify-self: center;
    cursor: pointer;
    height: 2.5rem;
  }

  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }

  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }

  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }

  button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }

  button:hover span {
    transform: translateX(5em);
  }

  button:active {
    transform: scale(0.95);
  }

  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }

    to {
      transform: translateY(-0.1em);
    }
  }

