@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

:root {
    /* font familys */
    --headerFontFamily: 'Playfair Display', serif;
    --buttonFontFamily: 'Baumans', cursive;

    /* font weights */
    --weight600: 600;

    /* colors */
    --aquaGreen: aqua;
    --purple: rgba(177, 122, 231, 0.904);
}


/* header style */
.header {
    display: grid;
    justify-items: center;
    row-gap: 4rem;
    background-color: #faebd7;
}

.primary-nav {
    margin-top: .5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 5rem;
    font-family: 'Hind', sans-serif;
}

.logo {
    width: 4.5rem;
    height: 4rem;
    background: url('../logos/logo_large.png') no-repeat;
    background-size: contain;
}

.middle-links {
    display: flex;
    column-gap: 2rem;
}

.authentication {
    display: flex;
    column-gap: 2rem;
    position: relative;
}

.authentication>* {
    font-family: var(--buttonFontFamily);
    font-weight: var(--weight600);
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: 8rem;
    cursor: pointer;
}

.forms {
    padding: 0;
    cursor: default;
}

.sign-up-btn {
    background-color: var(--purple);
}

.sign-up-btn:hover~.forms>.sign-up,
.sign-up:hover {
    z-index: 1;
    display: grid;
}

.sign-in-btn:hover~.forms>.sign-in,
.sign-in:hover {
    z-index: 1;
    display: grid;
}


.header-text {
    display: grid;
    justify-content: center;
    justify-items: center;
    row-gap: 1.5rem;
    text-transform: capitalize;
    font-family: var(--headerFontFamily);
    font-size: clamp(1.5rem, 4vw + .8rem, 3rem);
    word-spacing: .5rem;
    font-weight: 500;
    width: 50vw;
    margin: 0 auto;
}

.header-text>span {
    text-align: center;
}

.header .image-gallery>* {
    width: 10rem;
}

.header > .image-gallery {
    display: flex;
    column-gap: 1rem;
    justify-content: space-evenly;
    width: 100vw;
    overflow-x: hidden;
}

.underline {
    position: relative;
    /* border: 1px solid black; */
}

.stroke {
    /* border: 1px solid black; */
    position: absolute;
    top: 20%;
    left: 0;
    /* height: inherit; */
}


.image-gallery :first-child {
    border-radius: 30%;
}

.image-gallery :nth-child(2) {
    border-top-left-radius: 60%;
}

.image-gallery :nth-child(3) {
    border-radius: 40%;
}

.image-gallery :nth-child(4) {
    border-radius: 40% 40% 0 0;
}

.image-gallery :nth-child(5) {
    border-radius: 0 0 40% 40%;
}

.image-gallery :nth-child(6) {
    border-radius: 40% 0 40% 0;
}

.image-gallery :nth-child(7) {
    border-radius: 30%;
}


/* end */

.header>.call-to-action {
    display: grid;
    row-gap: 1rem;
    justify-items: center;
}

.cssbuttons-io-button {
    background: #A370F0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}


.call-to-action :first-child {
    font-family: 'Shippori Antique B1', sans-serif;
}
