.team {
    background: url('../backgrounds/wave-haikei (5).svg') no-repeat;
    background-size: cover;
    height: 80vh;
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: 70%;
    text-align: center;
    justify-content: space-evenly;
}
.flexteam {
    display: flex;
}

.team div img {
    width: 200px;
    border-radius: 50%;
    justify-content: space-evenly;
    
}
