<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/services.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/testimonials.css') }}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soft Work</title>
</head>

<body>
    <div class="container">
      <header class="header">
        <nav class="primary-nav">
          <div class="logo">BrandLogo</div>
          <a href="#">Blog</a>

          <div class="authentication">
            {% if not current_user.is_authenticated %}
            <a href="{{ url_for('authenticate_views.login') }}" class="sign-in-btn">Sign In</a>
            <a href="{{ url_for('authenticate_views.signup') }}" class="sign-up-btn">Sign Up</a>
            {% endif %}
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('authenticate_views.logout') }}" class="sign-up-btn">Log Out</a>
            <a href="{{ url_for('profile_views.profile_page') }}" class="sign-up-btn">Go to accessments</a>
            {% endif %}
          </div>

        </nav>

            <div class="header-text">
                <span>With technical skills, colleagues understand you</span>
                <span>With soft skills,
                    <span class="underline">everyone</span> understands you</span>
            </div>

            <div class="call-to-action">
                <span>Join hundreds of professionals now</span>
                <button>Get started</button>
            </div>

            <div class="image-gallery">
                <img src="{{ url_for('static', filename='img/IMG-20221212-WA0008.jpg') }}" alt="header-img">
                <img src="{{ url_for('static', filename='img/IMG-20221212-WA0009.jpg') }}" alt="header-img">
                <img src="{{ url_for('static', filename='img/IMG-20221212-WA0011.jpg') }}" alt="header-img">
                <img src="{{ url_for('static', filename='img/IMG-20221212-WA0012.jpg') }}" alt="header-img">
                <img src="{{ url_for('static', filename='img/IMG-20221212-WA0013.jpg') }}" alt="header-img">
                <img src="{{ url_for('static', filename='img/IMG-20221212-WA0014.jpg') }}" alt="header-img">
                <img src="{{ url_for('static', filename='img/IMG-20221212-WA0015.jpg') }}" alt="header-img">
            </div>
        </header>

        <section class="services">
            <h1>Services</h1>

            <article class="info">
            </article>
        </section>

        <section class="team">
            <h1>Meet Our Team</h1>
        </section>

        <section class="testimonials">
            <h1>What Our Clients Are Saying About Us</h1>
        </section>

        <footer class="footer">footer</footer>
    </div>
</body>

</html>
