<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/services.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/testimonials.css') }}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soft Work</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <nav class="primary-nav">
                <div class="logo">BrandLogo</div>
                <a href="#">Blog</a>

                <div class="authentication">
                    {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('authenticate_views.login') }}" class="sign-in-btn">Sign In</a>
                    <a href="{{ url_for('authenticate_views.signup') }}" class="sign-up-btn">Sign Up</a>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('authenticate_views.logout') }}" class="sign-up-btn">Log Out</a>
                    <a href="{{ url_for('profile_views.profile_page') }}" class="sign-up-btn">Go to assessments</a>
                    {% endif %}
                </div>

            </nav>

            <div class="header-text">
                <span>With technical skills, colleagues understand you</span>
                <span>With soft skills,
                    <span class="underline">
                        <img src="{{ url_for('static', filename='strokes/line2.svg') }}" alt="header-img" alt=""
                            class="stroke">
                        everyone
                    </span>
                    understands you
                </span>
            </div>

            <div class="call-to-action">
                <span>Join hundreds of professionals now</span>
                <button>Get started</button>
            </div>

            <div class="image-gallery">
                <img src="{{ url_for('static', filename='img/IMG-20221212-WA0008.jpg') }}" alt="header-img">
                <img src="{{ url_for('static', filename='img/IMG-20221212-WA0009.jpg') }}" alt="header-img">
                <img src="{{ url_for('static', filename='img/IMG-20221212-WA0011.jpg') }}" alt="header-img">
                <img src="{{ url_for('static', filename='img/IMG-20221212-WA0012.jpg') }}" alt="header-img">
                <img src="{{ url_for('static', filename='img/IMG-20221212-WA0013.jpg') }}" alt="header-img">
                <img src="{{ url_for('static', filename='img/IMG-20221212-WA0014.jpg') }}" alt="header-img">
                <img src="{{ url_for('static', filename='img/IMG-20221212-WA0015.jpg') }}" alt="header-img">
            </div>
        </header>

        <section class="services">
            <h1 class="section-header">Services</h1>

            <div class="services-cards-container">
                <article class="service-card">
                    <img src="{{ url_for('static', filename='icons/comm_skills.svg') }}" alt="service-icon"
                        class="service-icon">
                    <h3>Communication Skills</h3>
                    <span>
                        Our communication skills program helps participants develop the skills they need to communicate
                        clearly, confidently, and effectively with others. Through lectures, exercises, and role-plays,
                        participants learn how to adapt their communication style to different audiences, give and
                        receive feedback, and resolve conflicts.
                    </span>
                </article>
                <article class="service-card">
                    <img src="{{ url_for('static', filename='icons/critical_thinking.svg') }}" alt="service-icon"
                        class="service-icon">
                    <h3>Critical Thinking</h3>
                    <span>
                        Our critical thinking program helps individuals and organizations analyze and evaluate
                        information objectively, without letting personal biases or emotions get in the way. Through
                        lectures, and exercises participants learn how to identify and overcome cognitive biases, ask
                        probing questions, and make more informed decisions.
                    </span>
                </article>
                <article class="service-card">
                    <img src="{{ url_for('static', filename='icons/listening_skills.svg') }}" alt="service-icon"
                        class="service-icon">
                    <h3>Listening Skills</h3>
                    <span>
                        Our listening skills program helps participants listen actively, retain information, and
                        communicate effectively with others. Through interactive activities and role-plays, participants
                        learn how to listen with empathy, ask clarifying questions, and give constructive feedback.
                    </span>
                </article>
            </div>
        </section>

        <section class="team-section">
            <h1 class="section-header">
                Meet The Team
            </h1>

            <div class="grid">
                <div class="img-wrapper">
                    <img class="zoom" src="{{ url_for('static', filename='img/Frank.jpg') }}">
                    <div class="content slide-left">
                        Hi there, I'm Frank; a Software and Cloud Engineer
                        <div class="social-media-container">connect</div>
                    </div>
                </div>
                <div class="img-wrapper">
                    <img class="zoom-out" src="{{ url_for('static', filename='img/Jesse.jpg') }}">
                    <div class="content slide-right">
                        Hello world! I'm Jesse; a software engineer who communicates fluently with both men and machines
                        <div class="social-media-container">connect</div>
                    </div>
                </div>
                <div class="img-wrapper">
                    <img class="blur" src="{{ url_for('static', filename='img/Amara.jpg') }}">
                    <div class="content slide-up">Hi guys! I'm Amara.. a Senior Process Engineer and highly 'REACTive' to front end development
                        <div class="social-media-container">connect</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="testimonials">
            <h1>What Our Clients Are Saying About Us</h1>
        </section>

        <footer class="footer">footer</footer>
    </div>
</body>

</html>
